:root {
    --dark-background: #070f20;
    --white: #ffffff;
    --light-text: #d2ebf1;
    --neon-red: #fe494d;
    --neon-blue: #3ffdfe;

    --container-width-1600: 1570px;
    --container-width-1200: 1170px;
    --container-width-1000: 975px;

    --font-title: "Glacial Indifference";
    --font-text: "Ubuntu";
}
